{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "insertPragma": false,
  "quoteProps": "as-needed",
  "printWidth": 120,
  "eslint.autoFixOnSave": true,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}